# Copy to ~/.config/systemd/user and enable/start with:
#   systemd enable --user emacs.service
#   systemd start --user emacs.service

[Unit]
Description=Emacs: the extensible, self-documenting text editor
PartOf=graphical-session.target

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Restart=always

[Install]
WantedBy=default.target
