[Desktop Entry]
Version=1.0
Name=Emacs Client
GenericName=Text Editor
Comment=GNU Emacs is an extensible, customizable text editor - and more
MimeType=text/plain;application/sql;application/x-shellscript;text/english;text/markdown;text/x-c++;text/x-c++hdr;text/x-c++src;text/x-c;text/x-chdr;text/x-csrc;text/x-java;text/x-makefile;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;
TryExec=/usr/bin/emacsclient
Exec=/usr/bin/emacsclient -c %F
Icon=emacs
Type=Application
Terminal=false
Categories=Utility;Development;TextEditor;
StartupWMClass=Emacs
Keywords=Text;Editor;
